* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vb;
  background-color: rgb(233, 194, 201);
}

.container {
  position: relative;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgb(236, 116, 138);
  border-radius: 50%;
  border: 2px solid rgb(237, 226, 228);
  box-shadow: 1px 1px 50px rgb(239, 69, 100, 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span strong {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: large;
  font-weight: bolder;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: var(--height);
}
